flujoAsesorIA.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-full-analysis"
      },
      "name": "Chatbot Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 100]
    },
    {
      "parameters": {
        "authentication": "none",
        "requestMethod": "POST",
        "url": "http://python_api:8000/sentiment-analysis",
        "jsonParameters": true,
        "bodyParametersJson": "{\"news\": [\"Market bullish on tech stocks\", \"Apple releases earnings\"]}"
      },
      "name": "Call Sentiment API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 100]
    },
    {
      "parameters": {
        "authentication": "none",
        "requestMethod": "POST",
        "url": "http://python_api:8000/technical-analysis",
        "jsonParameters": true,
        "bodyParametersJson": "{\"prices\": {\"AAPL\": [150, 151, 152, 153, 154]}}"
      },
      "name": "Call Technical API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 100]
    },
    {
      "parameters": {
        "authentication": "none",
        "requestMethod": "POST",
        "url": "http://python_api:8000/fundamental-analysis",
        "jsonParameters": true,
        "bodyParametersJson": "{\"ticker\": \"AAPL\"}"
      },
      "name": "Call Fundamental API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [900, 100]
    },
    {
      "parameters": {
        "authentication": "none",
        "requestMethod": "POST",
        "url": "http://python_api:8000/portfolio-optimization",
        "jsonParameters": true,
        "bodyParametersJson": "{\"prices\": {\"AAPL\": [150, 151, 152], \"GOOG\": [2800, 2810, 2820]}}"
      },
      "name": "Call Portfolio API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO full_analysis (ticker, sentiment, rsi, macd, pe_ratio, roe, optimized_weights, date) VALUES ('AAPL', {{$json[\"sentiment\"]}}, {{$json[\"rsi\"]}}, {{$json[\"macd\"]}}, {{$json[\"pe_ratio\"]}}, {{$json[\"roe\"]}}, '{{$json[\"weights\"] | json}}', NOW());"
      },
      "name": "Save to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1300, 100],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "process_media",
        "fields": [
          {
            "name": "type",
            "value": "\"chart\""
          },
          {
            "name": "url",
            "value": "\"http://path-to-chart.png\""
          },
          {
            "name": "timestamp",
            "value": "={{$now}}"
          }
        ]
      },
      "name": "Save Media to MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [1500, 100],
      "credentials": {
        "mongoDb": {
          "id": "YOUR_MONGODB_CREDENTIAL_ID",
          "name": "MongoDB"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "bot@tusistema.com",
        "toEmail": "usuario@dominio.com",
        "subject": "✅ Nuevo análisis completado",
        "text": "📊 Nuevo análisis: Sentiment {{$json[\"sentiment\"]}}, RSI {{$json[\"rsi\"]}}, MACD {{$json[\"macd\"]}}, PE {{$json[\"pe_ratio\"]}}, ROE {{$json[\"roe\"]}}, Pesos {{$json[\"weights\"]}}"
      },
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1700, 100],
      "credentials": {
        "smtp": {
          "id": "YOUR_EMAIL_CREDENTIAL_ID",
          "name": "Email SMTP"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ticker, sentiment, rsi, macd, pe_ratio, roe, optimized_weights, date FROM full_analysis ORDER BY date DESC LIMIT 5;"
      },
      "name": "Query Analysis for Chatbot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [500, 250],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "responseData": "={{$json}}",
        "responseCode": 200
      },
      "name": "Return Chatbot Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 250]
    }
  ],
  "connections": {
    "Chatbot Webhook": {
      "main": [
        [
          {
            "node": "Call Sentiment API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query Analysis for Chatbot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Sentiment API": {
      "main": [
        [
          {
            "node": "Call Technical API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Technical API": {
      "main": [
        [
          {
            "node": "Call Fundamental API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Fundamental API": {
      "main": [
        [
          {
            "node": "Call Portfolio API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Portfolio API": {
      "main": [
        [
          {
            "node": "Save to PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to PostgreSQL": {
      "main": [
        [
          {
            "node": "Save Media to MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Media to MongoDB": {
      "main": [
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Analysis for Chatbot": {
      "main": [
        [
          {
            "node": "Return Chatbot Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "4"
}
